<h1>Profile page: <%= @user.email %></h1>
<small><%= link_to "back", root_url %></small> <br> <br>

<div>
  <% if @user != current_user && !(@user.followed_by?(current_user)) %>
    Follow <%= @user.email %><%= button_to "🙋", follows_url, method: :post, :id => 'follow'  %>
  <% end %>
</div>

<br>
<div>Followers:
<% @friends.each do |x| %>
  <%= x.email %>
<% end %>
</div>
