<h1> Your Board </h1>
  <% @posts.each do |post| %>
    <div class="posts">
    <small>On: <%= post.display_date %></small>
    <%= post.user.email%> posted:
    <h3>  <%= post.message %> </h3><%= post.likers(User).count %> Likes <br>
    <a href='posts/<%= post.id %>'>Link</a>
    <% if current_user.id == post.user_id %>
      | <%= link_to 'Delete', post, method: :delete, id: "delete#{post.id}" %>
      | <%= link_to 'Edit Post', edit_post_path(post) %>
    <% end %>
    | <% if current_user.likes?(post)  %>
    <%= link_to 'Unlike', unlikes_path(post), method: :post, :class => 'Unlike-button', :id => "unlike#{post.id}" %>
    <% else %>
    <%= link_to 'Like', likes_path(post), method: :post, :class => 'like-button', :id => "like#{post.id}" %>
    <% end %>
   <br>
   <br><br><br>
    </div>
  <% end %>

  <h3>This is where you create a new post</h3>

  <%= link_to new_post_path do %>
    New post
  <% end %>
