<h1> Your Board </h1>
  <% @posts.each do |post| %>
    <div class="posts">
    <small>On: <%= post.display_date %></small>
    <%= post.user.email%> posted:
    <h3>  <%= post.message %> </h3> : likes: <%= post.likers(User).count %>
    <a href='posts/<%= post.id %>'>Link</a>
    <% if current_user.id == post.user_id %>
      | <%= link_to 'Delete', post, method: :delete, id: "delete#{post.id}" %>
      | <%= link_to 'Edit Post', edit_post_path(post) %>
    <% end %>
    | <%= link_to 'Like', likes_path(post), method: :post, :class => 'like-button', :id => "like#{post.id}" %>
   <br>
   <br><br><br>
    </div>
  <% end %>

  <h3>This is where you create a new post</h3>

  <%= link_to new_post_path do %>
    New post
  <% end %>
