<% @posts.each do |post| %>
  <div class="posts">
  <p><%= post.message %></p>
  <a href='posts/<%= post.id %>'>link</a><br>
  <small><%= post.created_at.strftime("%a %b %e %T") %></small>
  <br><br>
  <div><%= Post.find_post_user(post.id) %></div><br>


  </div>
<% end %>

<h1>This is where you create a new post</h1>

<%= link_to new_post_path do %>
  New post
<% end %>
